

.brand-logo {
    margin-left: 20px;
}

.profile-header {
    text-align: center;
}

.profile-options {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.modal-wrapper {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 550px) {
    .brand-logo {
        display: none;
    }
    .sidenav-trigger {
        justify-content:center
    }
}